{% extends "layout.html" %}

{% block heading %}
  Flack
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
<h1 id='counter'>0</h1>



<script>



  //Load user name
  document.addEventListener('DOMContentLoaded', ()=>{
    //Testomg
      //localStorage.removeItem('user')

    //If first time user, prompt for a user name
    if(!localStorage.getItem('user')){

      console.log("no user")
      var username = prompt("Please enter a username to display:");
      localStorage.setItem('user', username);
    }
    else{
      console.log("user exists")
      console.log(localStorage.getItem('user'))
    }

    document.querySelector('#counter').innerHTML= localStorage.getItem('user');
  })

</script>
{% endblock %}
