{% extends "layout.html" %}

{% block heading %}
  Flack
{% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='index.js')}}"></script>
{% endblock %}

{% block channels%}

<!-- create channel -->
<form action="{{url_for('new_channel')}}" method="post" id='newchannel'>
  <input class="form-control" required="required" id="newchannel" name="name" aria-describedby="newchannel"
  placeholder="Create a new channel">
  <button type="submit" class="btn btn-primary">Create</button>
</form>

<ul>
  {% for channel in channels%}
  <li>
    <a class="channels" href="#">{{channel}}</a>
  </li>
  {% endfor %}
</ul>


{% endblock %}

{% block body %}
<p id='username'></p>
<div class="container" id="message-box">


</div>


{% endblock %}
